{% extends "layout.njk" %}
{%import  "parts/section-products.njk"as section%}
{% block content %}
  <section>
    <aside>
    <div class="header">
    </div>
    </aside>
  </section>
  {{section.products('', 'searched', products)}}
{% endblock content %}